{% extends 'layout.html.twig' %}

{% block content %}
    <div class="main-container">
        <h1>My accessories</h1>
        <ul>
            {% for accessory in accessories %}
            <li>
                <img src="{{ accessory.url }}" alt="{{ accessory.name }}" width="50px">
                {{ accessory.name }}
            </li>
            {% else %}
            Pas d'accessoire enregistré
            {% endfor %}
        </ul>
    </div>
{% endblock %}
